# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Compiled files
*.so
*.pyd
*.dll

# ==========================
# Virtual Environments
# ==========================

venv/
.venv/
env/
ENV/

# Conda
.conda/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# NovaOS local user data
# ==========================

database/*.db

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================
# Build
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/